sudo : required
language: go

services:
  - docker

script:
  - make build
  - docker build -t perigee/terrant .

after_script:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USER" -p="$DOCKER_PWD";
    docker push perigee/terrant;
    fi
    